doctype html
html
    head
        title Nemis Imeweza
    body
        form(action="/search" method="post")
            label(for="upi") Enter UPI
            input(type="text" name="upi" id="upi")
            input(type="submit" name="submit" value="Search" id="search")
