doctype html
html
    head
        title Nemis Imeweza
    body
        form(action="/register_teacher" method="post")
            label(for="tsc") TSC ID
            input(type="text" name="tsc" id="tsc" required="true")
            label(for="upi") Upi
            input(type="text" name="upi" id="upi" required="true")
            label(for="surname") Surname
            input(type="text" name="surname" id="surname" required="true")
            label(for="first_name") First name
            input(type="text" name="first_name" id="first_name" required="true")
            label(for="second_name") Second name
            input(type="text" name="second_name" id="second_name")
            label(for="dob") Date of birth
            input(type="date" name="dob" id="dob" required="true")
            p Gender
            label(for="male") Male
            input(type="radio" name="gender" id="male" value="male")
            label(for="female") Male
            input(type="radio" name="gender" id="female" value="female")
            input(type="submit" name="submit" value="Submit")