doctype html
html
    head
        title Register school admin
    body
        //TODO add posting history and teaching subjects in the form
        form(action="/admin/register_school_admin" method="post")
            label(for="upi") UPI of school
            input(type="text" name="upi" id="upi" required="upi")
            br
            label(for="username") Username (One word. You can use hyphens, dots, underscores)
            input(type="text" name="username" id="username" required="true")
            br
            label(for="password") Password
            input(type="password" name="password" id="password"  required="true")
            br
            label(for="confirm_password") Confirm password
            input(type="password" name="confirm_password" id="confirm_password"  required="true")
            br
            input(type="submit" name="submit" value="Submit")