doctype html
html
    head
        title Nemis Imeweza
    body
        form(action="/school-admin" method="post")
            label(for="username") User name
            input(type="text" name="username" id="username")
            label(for="password") Password
            input(type="password" name="password" id="password")
            input(type="submit" name="submit" value="Login")