doctype
html
    head
        title School admin dashboard
    body
        a(href="/schools/students/"+school_id) Students
        br
        a(href="/teachers") Teachers
        br
        a(href="/update_school_info") Update school details
        br