doctype html
html
    head
        title School Information
    body
        a(href="/register_student") Register Student
        br
        a(href="/register_teacher") Register Teacher
        br
        a(href="/update_school") Add school details

