doctype
html
    head
        title School admin dashboard
    body
        a(href="/schools/students/"+school_id) Students
        br
        a(href="/schools/teachers/"+school_id) Teachers
        br
        a(href="/schools/update_school_info/"+school_id) Update school details
        br