doctype
html
    head
        title Dashboard
    body
        p You are logged in as #{ctx.session.username}
        a(href="/logout") Logout
        br
        a(href="/admin/students") Students
        br
        a(href="/admin/teachers") Teachers
        br
        a(href="/admin/schools") Schools
        br
        a(href="/admin/school_admins") School Administrators
