doctype
html
    head
        title Schools
    body
        -if(school_admin===true){
        a(href="/register_teacher") Register new teacher
        -}
        -if(teachers){
        p we have #{teachers.length} teachers
        ul
            -for(let i=0;i<teachers.length;i++){
            li
                a(href='/teachers/' + teachers[i]._id) #{teachers[i].surname}, #{teachers[i].firstname}, #{teachers[i]._id}
            -}
        -}